/**
 * Place your custom styles here.
 */
/* GENERIC STYLE */
body {
  overflow-x: hidden; }

a:hover {
  text-decoration: none; }

/* GENERIC STYLE */
/**** HEADER SECTION ****/
.topmost-header {
  background-color: beige; }
  .topmost-header .topmost-header .col-md-4 {
    right: 1%;
    float: right; }
  .topmost-header .topmost-header .form-control {
    height: 43px; }

#navbar {
  margin: 0; }
  #navbar .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    #navbar .container-fluid .navbar-header, #navbar .container-fluid .navbar-collapse {
      margin-left: 7px;
      margin-right: 0px; }
      #navbar .container-fluid .navbar-header .logo, #navbar .container-fluid .navbar-collapse .logo {
        width: 45px;
        height: 45px;
        padding-right: 0;
        padding-left: 0; }
      #navbar .container-fluid .navbar-header .navbar-brand, #navbar .container-fluid .navbar-collapse .navbar-brand {
        margin-left: 7px; }
    #navbar .container-fluid .fa, #navbar .container-fluid .icon {
      padding-right: 7px; }

ul.dropdown-menu {
  padding: 0; }
  ul.dropdown-menu li {
    background-color: #333; }
    ul.dropdown-menu li a {
      padding: 10px 20px;
      color: #fff; }

/**** HEADER SECTION ****/
/**** BODY SECTION ****/
.front .container-fluid {
  padding-left: 0;
  padding-right: 0; }
  .front .container-fluid .row {
    margin-left: auto;
    margin-right: auto;
    /*margin: 20px 0;*/
    text-align: center; }
    .front .container-fluid .row h2::after {
      border-bottom: 1px solid #E5E5E5; }
    .front .container-fluid .row .beverage-img {
      position: relative; }
    .front .container-fluid .row .beverage-termname {
      position: absolute; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.view-id-homepage_blocks .row .img-circle {
  margin-left: auto;
  margin-right: auto; }
.view-id-homepage_blocks .row .col {
  margin-bottom: 25px; }

.drinks-stars div.fivestar-widget-static {
  margin-left: auto;
  margin-right: auto; }

.well {
  border: 0;
  box-shadow: none;
  padding: 0;
  padding: 0 10%;
  font-size: 16px; }
  .well .glyphicon {
    padding-right: 7px; }
  .well ul {
    text-align: left; }
    .well ul .active {
      font-weight: bold;
      background-color: #E4E4E4; }
  .well .level-1, .well .level-2 {
    padding-left: 15%; }

/* views read more button */
.views-more-link {
  color: #FFF;
  background-color: #165ba8;
  border-color: #9954BB;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 9px;
  margin-top: 10px; }
  .views-more-link:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: none; }

.drinks-manufacturer i {
  color: #165BA8;
  padding-right: 8px;
  font-size: 20px; }

.block-taxonomy-menu-block .first {
  padding-left: 10px; }
.block-taxonomy-menu-block .level-1 {
  padding-left: 12px; }
.block-taxonomy-menu-block .level-2 {
  padding-left: 14px; }

.drinks-detail-left {
  float: left; }
  .drinks-detail-left .view-content strong {
    color: #B1BABF;
    font-style: italic; }

.drinks-detail-right {
  float: right;
  padding-left: 20px; }
  .drinks-detail-right .view-content strong {
    color: #B1BABF;
    font-style: italic; }

.drinks-details-img {
  margin-bottom: 10px; }
  .drinks-details-img img {
    border-radius: 25px; }

.dyk-img {
  padding-right: 7px; }
  .dyk-img .img-responsive {
    border-radius: 7px; }

.dyk-title-desc {
  text-align: left; }
  .dyk-title-desc h3 {
    margin-top: 2px; }

/**** BODY SECTION ****/
/**** FOOTER SECTION ****/
.footer {
  color: #fff;
  background-color: #333; }

/**** FOOTER SECTION ****/
/*** CONTACT FORM ***/
form#webform-client-form-10 #edit-submitted-name, form#webform-client-form-10 #edit-submitted-email {
  display: inline;
  width: auto;
  margin-left: 8px; }

/*** CONTACT FORM ***/

/*# sourceMappingURL=style.css.map */
