/**
 * Place your custom styles here.
 */
/* GENERIC STYLE */
body {
  overflow-x: hidden; }

a:hover {
  text-decoration: none; }

.img-rounded {
  border-radius: 25px; }

.front section.col-sm-12 {
  padding: 0px; }

/* GENERIC STYLE */
/**** HEADER SECTION ****/
.topmost-header {
  background-color: beige; }
  .topmost-header .topmost-header .col-md-4 {
    right: 1%;
    float: right; }
  .topmost-header .topmost-header .form-control {
    height: 43px; }

#navbar {
  margin: 0; }
  #navbar .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    #navbar .container-fluid .navbar-header, #navbar .container-fluid .navbar-collapse {
      margin-left: 7px;
      margin-right: 0px; }
      #navbar .container-fluid .navbar-header .logo, #navbar .container-fluid .navbar-collapse .logo {
        width: 45px;
        height: 45px;
        padding-right: 0;
        padding-left: 0; }
      #navbar .container-fluid .navbar-header .navbar-brand, #navbar .container-fluid .navbar-collapse .navbar-brand {
        margin-left: 7px; }
    #navbar .container-fluid .fa, #navbar .container-fluid .icon {
      padding-right: 7px; }

ul.dropdown-menu {
  padding: 0; }
  ul.dropdown-menu li {
    background-color: #333; }
    ul.dropdown-menu li a {
      padding: 10px 20px;
      color: #fff; }

/**** HEADER SECTION ****/
/**** BODY SECTION ****/
@media (min-width: 768px) {
  .node-type-drinks .col-sm-12, .node-type-webform .col-sm-12 {
    padding: 25px 10%; } }
.front .container-fluid {
  padding-left: 0;
  padding-right: 0; }
  .front .container-fluid .row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center; }
    .front .container-fluid .row h2.block-title {
      font-weight: 500; }
    .front .container-fluid .row h2::after {
      border-bottom: 1px solid #E5E5E5; }
    .front .container-fluid .row #block-views-beverage-vocab-block {
      margin-bottom: 20px; }
    .front .container-fluid .row h2.beverage-termname {
      margin-top: 10px; }
  .front .container-fluid .region-content section:nth-child(2) {
    background-color: #F5F5DC; }
  .front .container-fluid .region-bottom {
    background-color: #F5F5DC;
    padding-top: 25px;
    padding-bottom: 25px; }

.drink-categories .row .col .beverage-img img, .drink-categories .row .col .dyk-img img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.view-id-homepage_blocks .row .img-circle {
  margin-left: auto;
  margin-right: auto; }
.view-id-homepage_blocks .row .col {
  margin-bottom: 25px; }

.drinks-stars div.fivestar-widget-static {
  margin-left: auto;
  margin-right: auto; }

.well {
  border: 0;
  box-shadow: none;
  padding: 0;
  font-size: 16px; }
  .well .glyphicon {
    padding-right: 7px; }
  .well ul {
    text-align: left; }
    .well ul .active {
      font-weight: bold;
      background-color: #E4E4E4; }
  .well .level-1, .well .level-2 {
    padding-left: 15%; }

/* views read more button */
.views-more-link {
  color: #FFF;
  background-color: #165ba8;
  border-color: #9954BB;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 9px;
  margin-top: 10px; }
  .views-more-link:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: none; }

.drinks-manufacturer i {
  color: #165BA8;
  padding-right: 8px;
  font-size: 20px; }

.block-taxonomy-menu-block .first {
  padding-left: 10px; }
.block-taxonomy-menu-block .level-1 {
  padding-left: 12px; }
.block-taxonomy-menu-block .level-2 {
  padding-left: 14px; }

.drinks-detail-left {
  float: left; }
  .drinks-detail-left .view-content strong {
    color: #B1BABF;
    font-style: italic; }

.drinks-detail-right {
  float: right;
  padding-left: 20px; }
  .drinks-detail-right .view-content strong {
    color: #B1BABF;
    font-style: italic; }

.drinks-details-img {
  margin-bottom: 10px; }
  .drinks-details-img img {
    border-radius: 25px; }

.dyk-img {
  padding-right: 7px; }
  .dyk-img .img-responsive {
    border-radius: 7px; }

.dyk-title-desc {
  text-align: left; }
  .dyk-title-desc h3 {
    margin-top: 2px; }

/**** BODY SECTION ****/
/**** FOOTER SECTION ****/
.footer {
  color: #fff;
  background-color: #333;
  text-align: center;
  margin-top: 0; }
  .footer h2 {
    margin: 0 !important;
    font-size: 22px; }

/**** FOOTER SECTION ****/
/*** CONTACT FORM ***/
form#webform-client-form-10 #edit-submitted-name, form#webform-client-form-10 #edit-submitted-email {
  display: inline;
  width: auto;
  margin-left: 8px; }

/*** CONTACT FORM ***/
/* make sidebar nav vertical */
#block-tweaks-taxonomy-menu .dropdown-menu {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  margin: 0; }
#block-tweaks-taxonomy-menu .level-1, #block-tweaks-taxonomy-menu .level-2 {
  padding-left: 0; }
  #block-tweaks-taxonomy-menu .level-1 a.active, #block-tweaks-taxonomy-menu .level-2 a.active {
    background-color: #333;
    color: #165BA8; }
#block-tweaks-taxonomy-menu .level-1 a {
  padding-left: 10%; }
#block-tweaks-taxonomy-menu .level-2 a {
  padding-left: 15%; }
@media (min-width: 768px) {
  #block-tweaks-taxonomy-menu .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left: 0;
    padding-right: 0; }
  #block-tweaks-taxonomy-menu .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  #block-tweaks-taxonomy-menu .navbar-collapse.in {
    overflow-x: visible; }
  #block-tweaks-taxonomy-menu .navbar {
    max-width: 300px;
    margin-right: 0;
    margin-left: 0; }
  #block-tweaks-taxonomy-menu .navbar-nav,
  #block-tweaks-taxonomy-menu .navbar-nav > li,
  #block-tweaks-taxonomy-menu .navbar-left,
  #block-tweaks-taxonomy-menu .navbar-right,
  #block-tweaks-taxonomy-menu .navbar-header {
    float: none !important; }
  #block-tweaks-taxonomy-menu .navbar-right .dropdown-menu {
    left: 0;
    right: auto; }
  #block-tweaks-taxonomy-menu .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
